<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>

    <script src="../static/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
 <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>课程</title>
</head>
<body>
    <div style="background-color: #EBEBEB;min-height:1000px" id="app">
        <div style="width:100%;background-color:#20A0FF; overflow: hidden">
            <span class="demonstration" style="float:left;padding-top:10px;color:white;margin-left:1%">
                学习辅助系统 Your Personal Assistant
            </span>

            <div >
                <span class="demonstration" style="float:right;padding-top:10px;margin-right:1%">
                    欢迎 {{rlt0}}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
            </div>
        </div>

        <!--<div class="menu1" style="float:left; width:30%;height:90%; margin-top:5px;">
            <el-row class="tac" :gutter="10">
              <el-col :span="12" :xs="4" :sm="20" :md="4" :lg="4">

                <el-menu
                  default-active="1"
                  class="el-menu-vertical-demo"
                  style="min-height:900px"
                  @open="handleOpen"
                  background-color="#fff"
                  text-color="#000"
                  >
                  <el-submenu index="course">
                    <template slot="title">
                      <i class="el-icon-location"></i>
                      <span>网上选课</span>
                    </template>
                  </el-submenu>

                  <el-submenu index="group">
                    <template slot="title">
                      <i class="el-icon-location"></i>
                      <span>组内提交作业</span>
                    </template>
                  </el-submenu>

                    <el-submenu index="myinfo">
                    <template slot="title">
                      <i class="el-icon-location"></i>
                      <span>个人信息</span>
                    </template>
                  </el-submenu>

                </el-menu>
              </el-col>
            </el-row>
        </div>-->

        <div style="float:left;width:100%;height:90%">
            <B>已选课程</B>
            <br>
            <!--<table border="1" id="myTable" class="sort-table">
            <thead>
                <tr>
                    <th>课程编号</th>
                    <th>课程名称</th>
                    <th>教师</th>
                    <th>上课时间/地点</th>
                    <th>开课学院</th>
                    <th>选课人数</th>
                    <th>课程历史评分</th>
                    <th>学生平均分</th>
                    <th>挂科率</th>
                </tr>
            </thead>
                <tbody>
                 {% for i in rlt %}
                        <tr>

                        <td>{{ i.cour_id }}</td>
                        <td>{{ i.cour_name }}</td>
                        <td>{{ i.cour_teacher }}</td>
                        <td>{{ i.cour_timeplace }}</td>
                        <td>{{ i.cour_college }}</td>
                        <td>{{ i.cour_stunum }}</td>
                        <td>{{ i.cour_score }}</td>
                        <td>{{ i.cour_avescore }}</td>
                        <td>{{ i.cour_failrate }}

                        </td><br>
                        </tr>
                    {% endfor %}

            </tbody>
            </table>-->
            <template>
                  <el-table
                    :data="tableData"
                    style="width: 100%">
                    <el-table-column
                      prop="cour_id"
                      label="课程编号"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="cour_name"
                            label="课程名称"
                      width="180">
                    </el-table-column>
                      <el-table-column
                      prop="cour_teacher"
                              label="教师"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="cour_timeplace"
                            label="时间地点"
                      width="180">
                    </el-table-column>
                      <el-table-column
                      prop="cour_college"
                              label="学院"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="cour_stunum"
                            label="学生人数"
                      width="180">
                    </el-table-column>
                      <el-table-column
                      prop="cour_score"
                              label="课程评分"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="cour_avescore"
                            label="均分"
                      width="180">
                    </el-table-column>
                      <el-table-column
                      prop="cour_failrate"
                              label="挂科率"
                      width="180">
                    </el-table-column>

                  </el-table>
             </template>
                    <!--</el-table-column>
                    <el-table-column label="操作">
                      <template slot-scope="scope">
                        <el-button
                          size="mini"
                          @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button
                          size="mini"
                          type="danger"
                          @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>-->
</div>

            <br>

            <!--<B>可选课程</B>
                <br>
            <table border="2" id="myTable2" class="sort-table">
            <thead>
                    <tr>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>教师</th>
                        <th>上课时间/地点</th>
                        <th>开课学院</th>
                        <th>选课人数</th>
                        <th>课程历史评分</th>
                        <th>学生平均分</th>
                        <th>挂科率</th>
                    </tr>
            </thead>
                <tbody>


                 {% for i in rlt2 %}
                            <tr>

                            <td>{{ i.cour_id }}</td>
                            <td>{{ i.cour_name }}</td>
                            <td>{{ i.cour_teacher }}</td>
                            <td>{{ i.cour_timeplace }}</td>
                            <td>{{ i.cour_college }}</td>
                            <td>{{ i.cour_stunum }}</td>
                            <td>{{ i.cour_score }}</td>
                            <td>{{ i.cour_avescore }}</td>
                            <td>{{ i.cour_failrate }}

                            </td><br>
                            </tr>
                        {% endfor %}
                </tbody>


                </table>-->



             <div>
                 课程ID<input type="text" id="aaa" name="course_id"><br>
                <button  type="submit" id="selects" >选课</button>
                <button  type="submit" id="drop" >退课</button>
                <button  type="submit" id="group" >组队</button>
            </div>
        </div>
    </div>
</body>
<script type="module">
   var rlt={{rlt|safe}};
   var rlt2={{rlt2|safe}};
   console.log(rlt[0].fields);

   var i=0;
   var tabledata1=new Array();
   while(rlt[i]){
        tabledata1[i]=rlt[i].fileds;
        i++;
    }
    console.log(tabledata1);

   var Main = {
     data(){
        return{
            tableData:tabledata1
        }
     }

    /* methods: {
        handleOpen(key, keyPath){
                if(key=="course")
                {
                    window.location.href = "/course";
                }else if(key=="group"){
                    window.location.href = "/mygroup";
                }else{
                    window.location.href = "/myinfo";
                }
        }
      }*/
  }
    var Ctor = Vue.extend(Main)
   new Ctor().$mount('#app')
</script>
<style>
#app {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }
.el-icon-arrow-down {
    font-size: 12px;
  }

</style>
</html>